<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.3.xsd


                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

    <tx:annotation-driven />

    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost/tobystudy?useUnicode=true&amp;characterEncoding=UTF-8&amp;useSSL=true&amp;verifyServerCertificate=false" />
        <property name="username" value="study" />
        <property name="password" value="study" />
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager" >
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="jdbcContext" class="ch03.springbook.user.dao.JdbcContext">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="userDao" class="ch01.springbook.user.dao.UserDaoJdbc">
        <property name="dataSource" ref="dataSource" />
        <property name="sqlService" ref="sqlService" />
    </bean>

    <bean id="userService" class="ch01.springbook.user.UserServiceImpl" >
        <property name="userDao" ref="userDao" />
    </bean>

    <bean id="testUserService" class="ch01.springbook.user.UserServiceTest$TestUserService" parent="userService" />

    <bean id="sqlService" class="ch07.springbook.sql.XmlSqlService" >
    </bean>
    <!--
    <bean id="sqlService" class="ch07.springbook.sql.SimpleSqlService">
        <property name="sqlMap">
            <map>
                <entry key="userAdd" value="INSERT INTO users(id, name, password, level, login, recommend, email) VALUES(?, ?, ?, ?, ?, ?, ?)" />
                <entry key="userGet" value="SELECT * FROM users WHERE id = ?" />
                <entry key="userGetAll" value="SELECT * FROM users" />
                <entry key="userDeleteAll" value="DELETE FROM users" />
                <entry key="userGetCount" value="SELECT COUNT(*) FROM users" />
                <entry key="userUpdate" value="UPDATE users SET name = ?, password = ?, level = ?, login = ?, recommend = ?, email = ? WHERE id = ?" />
            </map>
        </property>
    </bean>
    -->

    <!--
        <bean id="transactionAdvice" class="ch01.springbook.user.TransactionAdvice">
            <property name="transactionManager" ref="transactionManager"/>
        </bean>


        <bean id="transactionPointcut" class="org.springframework.aop.aspectj.AspectJExpressionPointcut">
            <property name="expression" value="execution(* *..*ServiceImpl.upgrade*(..))" />
        </bean>

        <bean id="transactionAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
            <property name="advice" ref="transactionAdvice"/>
            <property name="pointcut" ref="transactionPointcut"/>
        </bean>

        <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" />

    <bean id="transactionAdvice" class="org.springframework.transaction.interceptor.TransactionInterceptor">
        <property name="transactionManager" ref="transactionManager" />
        <property name="transactionAttributes">
            <props>
                <prop key="get*">PROPAGATION_REQUIRED,readOnly,timeout_30</prop>
                <prop key="upgrade*">PROPAGATION_REQUIRES_NEW,ISOLATION_SERIALIZABLE</prop>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>

    -->

    <bean id="message" class="ch06.springbook.factorybean.MessageFactoryBean">
        <property name="text" value="Factory Bean" />
    </bean>

    <!--
    <tx:advice id="transactionAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="*" />
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="transactionPointcut" expression="bean(*Service)" />
        <aop:advisor advice-ref="transactionAdvice" pointcut-ref="transactionPointcut" />
    </aop:config>

    -->

</beans>
